# project_root/service-backend/requirements.txt
celery>=5.0.0,<6.0.0 # Celery distributed task queue
Django>=5.0,<6.0
django-filter>=25.0,<26.0
django-prometheus>=2.4.0,<3.0.0
django-simple-captcha>=0.6.0,<0.7.0
djangorestframework>=3.15.0,<4.0.0
djangorestframework-simplejwt>=5.5.0,<6.0.0 # --- JWT Authentication ---
drf-yasg>=1.21.0,<2.0.0
gunicorn>=23.0.0,<24.0.0 # --- WSGI Server (for production, Gunicorn is common) ---
jdatetime>=5.2.0,<6.0.0 # For Jalali date calculations
Pillow>=12.0.0,<13.0.0
psycopg2-binary>=2.9.0,<3.0.0 # --- Database Adapter (if using PostgreSQL) ---
python-decouple>=3.8,<4.0
redis>=7.0.0,<8.0.0 # Redis client for Python
reportlab>=4.4.0,<5.0.0 # For PDF generation in resume app
requests>=2.30.0,<3.0.0
# WeasyPrint is another option for PDF generation
# billiard # Often included with Celery, specify if needed for specific version
